{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
      #myCanvas{
        border: black 1px solid;
      }
    </style>

</head>
  
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>
  
    var windowid=Math.random();
    var colorlist=["black","red","blue"];
    var userlist=[windowid.toString()];

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();


    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    
    var newPath_1 = new paper.Path();
    var newPath_2 = new paper.Path();
    var newPath_3 = new paper.Path();
    newPath_1.strokeColor="red";
    newPath_2.strokeColor="blue";
    newPath_3.strokeColor="black";
    
    var myPath = new paper.Path();
    
    var mycolor = colorlist[userlist.length-1];
    myPath.strokeColor = mycolor;

    var socket = new WebSocket(
        'wss://p3-websockets-harperKKK-harperkwok828073.codeanyapp.com/ws/draw');
    
    socket.addEventListener('open', (event) => {
      socket.send(windowid);
    });
    
    // triggered when receiving a message from the server
    socket.onmessage = function(receivedMessage) {
        // do something when you receive a message
        var msg = receivedMessage.data.split(",");
        if (msg.length===1){

            if (userlist.indexOf(msg[0])!==-1){
                return
            }else{
                userlist.push(msg[0]);
                mycolor = colorlist[userlist.length-1]
                myPath.strokeColor = mycolor;
                return
            }
        }
        
        if(url.endsWith("small")){
            return
        }
        
        var newpoint=[msg[0],msg[1]];
        var newcolor=msg[2];
        
        if (newcolor===mycolor){
            return
        }else{
            switch(newcolor){
                    case "red": newPath_1.add(new paper.Point(newpoint));break;
                    case "blue": newPath_2.add(new paper.Point(newpoint));break;
                    case "black": newPath_3.add(new paper.Point(newpoint));break;
            }
        }
        
    };

    // notify console if socket closes unexpectedly
    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    
  
    tool.onMouseMove = function(event) {
        myPath.add(event.point);
        socket.send([event.point.x,event.point.y,mycolor]);
    }
    
    const SHAKE_SPEED = 300;
    let lastTime = 0;
    let x = y = z = lastX = lastY = lastZ = 0;

    function  motionHandler(event) {
        let acceleration = event.accelerationIncludingGravity;
        let curTime = Date.now();
        if ((curTime - lastTime) > 120) {
        let diffTime = curTime - lastTime;
        lastTime = curTime;
        x = acceleration.x;
        y = acceleration.y;
        z = acceleration.z;
        let speed = Math.abs(x + y + z - lastX - lastY - lastZ) / diffTime * 1000;
        if (speed > SHAKE_SPEED) {
            myPath.remove();
            newPath_1.remove();
            newPath_2.remove();
            newPath_3.remove();
        }
        lastX = x;
        lastY = y;
        lastZ = z;
        }
    }
    if(window.DeviceMotionEvent) {
        window.addEventListener('devicemotion', motionHandler, false);
    } else {
        alert("Current device cannot detect shaking");
    }
    
    $(document).ready(() => {
      window.addEventListener('deviceorientation', (event) => {
        if( event.gamma >= 60){
            myPath.strokeColor="green";
        };
      });
    });
    
    
  


</script>
</html>
