 {% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
      .main{
        background-color:#fff8dc;
        height:100vh;
        display:flex;
        flex-direction:column;
        align-items:center;
      }
      
      .name{
        color:#8b6914;
        font-size:150px;
        margin-top:30vh;
      }
    </style>

</head>
  
<body>
  <div class="main">
    <div class='name'>
      Chorganize
    </div>    
  </div>
      
</body>
<script>
  var socket = new WebSocket(
  'wss://p3-websockets-harperKKK-harperkwok828073.codeanyapp.com/ws/draw');

  var userlist=[];
  var chorelist=[];
  // triggered when receiving a message from the server
  socket.onmessage = function(receivedMessage) {
    // do something when you receive a message
    var data = JSON.parse(receivedMessage.data);
    if (data.assign!==undefined){
      var storage = window.sessionStorage;
      storage['users'] = JSON.stringify(userlist);
      storage['chores'] = JSON.stringify(chorelist);
      window.location.href='../onefeed'
      return
    }
    if (data.name!==undefined){
      userlist.push(data.name);
      return
    }
    if (data.chore!==undefined){
      chorelist.push(data.chore);
      return
    }
   
  };

  // notify console if socket closes unexpectedly
  socket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };

</script>
</html>